@{
    Layout = "~/Areas/Admin/views/shared/layout.cshtml";
}

@model QlBanOpDaDienThoai.Models.User;
@using QlBanOpDaDienThoai.Models;
@functions{
    Net20ProjectContext db =new
    Net20ProjectContext();
    public int CheckPer(int idUser,int idFunction)
    {
        var record = db.Permissions.Where(item => item.IdUser == idUser && item.IdFunction == idFunction).Count();
        return record;
    }
}
        <div class="row">
            <div class="col-sm-12 col-xl-6">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-header pb-0">
                                <h5>Default Form Layout</h5><span>Using the <a href="#">card</a> component, you can extend the default collapse behavior to create an accordion.</span>
                            </div>
                            <form method="post" autocomplete="off" action="@ViewBag.action">
                                <div class="card-body">
                                    <div class="theme-form">
                                        <div class="mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Name</label>
                                            <input class="form-control" id="exampleInputEmail1" name="name" type="text"  placeholder="Enter name" value="@if(Model!=null){
                                            <text>@Model.Name</text>
                                            }" required>
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputEmail1">Email address</label>
                                            <input class="form-control" id="exampleInputEmail1" name="email" type="email"  required placeholder="Enter email" value="@if(Model!=null){
                                            <text>@Model.Email</text>
                                            }">
                                            <small style="color:red">@ViewBag.errormessage</small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="col-form-label pt-0" for="exampleInputPassword1">Password</label>
                                            <input class="form-control" id="exampleInputPassword1" name="password" type="text" @if (Model != null)
                                            {
                                                <text>placeholder="Nếu không đổi mật khẩu thì không nhập vào ô này"</text>
                                            }
                                            else
                                            {
                                                <text>required</text>
                                            }>
                                            
                                        </div>
                                       
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-md-2">Permission</div>
                                    <div class="col-md-10">
                                       
                                            <div>
                                                <input name="Permission" type="checkbox" value="1" placeholder="Enter name" @if(CheckPer(Model.Id, 1) > 0 )
                                                {
                                                    <text>checked</text>
                                                }
                                                <label >Danh Sách</label>
                                            </div>
                                            <div>
                                            <input name="Permission" type="checkbox" value="2" placeholder="Enter name" @if (CheckPer(Model.Id, 2) > 0)
                                                {
                                                    <text>checked</text>
                                                }
                                                <label>Quyền Thêm</label>
                                            </div>
                                            <div>
                                            <input name="Permission" type="checkbox" value="3" placeholder="Enter name" @if (CheckPer(Model.Id, 3) > 0)
                                                {
                                                    <text>checked</text>
                                                }
                                                <label>Quyền Sửa</label>
                                            </div>
                                            <div>
                                            <input name="Permission" type="checkbox" value="4" placeholder="Enter name" @if (CheckPer(Model.Id, 4) > 0)
                                                {
                                                    <text>checked</text>
                                                }
                                                <label>Quyền Xóa</label>
                                            </div>
                                      

                                       
                                    </div>
                                </div>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <button class="btn btn-secondary"> <a href="/admin/users/index">Cancel</a></button>
                                </div>
                            </form>


                        </div>
                    </div>

                </div>
            </div>

        </div>
