@{
    Layout = "~/Areas/Admin/views/shared/layout.cshtml";
}
@using QlBanOpDaDienThoai.Models
@using X.PagedList.Mvc.Core
@using System.IO
@model X.PagedList.IPagedList<Category>
@functions{
    Net20ProjectContext db = new Net20ProjectContext();
   
    List<Category> GetSubCategory(int id)
    {
        List<Category> listSubCategory = db.Categories.Where(item => item.ParentId == id).ToList();
        return listSubCategory;

    }

}

<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Categories/Create" class="btn btn-primary">Add category</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List category</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr style="background-color: cadetblue;">
                    <th>Name</th>
                    <th style="width:150px;">Display Home Page</th>
                    <th style="width:160px;"></th>
                </tr>
               
              @foreach(var item in Model)
                {
                     <tr>
                        <td>@item.Name</td>
                        <td style="text-align:center;color:red;font-weight:bold">
                            @if(Model!=null&& item.DisplayHomePage == 1)
                            {
                                <text>
                                    ✓

                                </text>
                            }
                            
                           
                        </td>
                        <td style="text-align:center;">
                            <button class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title=""> <a style="color: white;" href="/Admin/Categories/Update/@item.Id">Edit</a> </button>
                            <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title=""><a style="color: white;" onclick="return window.confirm('Bạn có muốn xóa sản phẩm này không?')" href="/admin/categories/delete/@item.Id">Delete</a></button>

                        </td>
                    </tr>

                    List<Category> listSubCategory = GetSubCategory(item.Id);
                    @foreach (var itemSub in listSubCategory)
                {
                      <tr>
                            <td style="padding-left:30px;">@itemSub.Name</td>
                            <td style="text-align:center;color:red">
                               @if (itemSub.DisplayHomePage == 1)
                                {
                                    <text>
                                        ✓

                                    </text>
                                }
                            </td>
                            <td style="text-align:center;">
                                <button class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title=""> <a style="color: white;" href="/Admin/Categories/Update/@itemSub.Id">Edit</a> </button>
                                <button class="btn btn-danger btn-xs" type="button" data-original-title="btn btn-danger btn-xs" title=""><a style="color: white;" onclick="return window.confirm('Bạn có muốn xóa sản phẩm này không?')" href="/admin/categories/delete/@itemSub.Id">Delete</a></button>

                            </td>
                        </tr>
                    }
                    }
              
               
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @* Hàm sau sẽ thực hiện việc hiển thị phân trang *@
            @Html.PagedListPager(Model,p=>Url.Action("index","categories",new{p}))
        </div>
    </div>
</div>
<style>
    .pagination li {
        border: 1px solid green;
        border-radius: 15px;
        width: 22px;
        text-align: center;
        margin: 5px
    }
</style>