body a,
h1,
h2,
h3,
h4 {
    font-family: Arial;
    text-decoration: none;
}


b{
    text-decoration-line:line-through;font-weight: 100 ;color: rgb(214, 212, 209);
}

.top-header {
    width: 1476px;
    border-bottom: 1px solid rgb(180, 175, 175);
    height: 31px;
    margin: 0px;
}

.sub-top-header {
    width: 1170px;
    height: 23px;
    margin: auto;
    padding-top: 3px;
}

.top-header a {
    font-size: 13px;
    padding-right: 8px;
}

.top-header i {
    color: black;
    margin: 8px;
}

.top-header i:hover {
    color: red;
}

.center-header {
    width: 1476px;
    height: 92px;
    margin-top: 8px;
    display: flex;

}

.logo-dalis img {
    width: 145px;
    height: 74px;
    margin-left: 160px;
}

.header-hotline {
    width: 457px;
    height: 68px;
    margin-left: 130px;
    /* background-color: aqua; */
    display: flex;

}

.hotline-online,
.open-time {
    display: flex;
    margin-top: 20px;
    /* width: 50% ; */
    width: 175px;
    height: 36px;

}

.open-time {
    margin-left: 25px;
}

.hotline-online {
    border-right: 1px solid rgb(234, 231, 231);
}

.hotline-online i {
    margin-right: 5px;
}

.open-time img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.search input {
    width: 300px;
    height: 40px;
    float: right;
    border-radius: 20px;

}

.search i {
    position: absolute;
    right: 12px;
    top: 9px;
    font-size: 20px;
    /* background-color: rgb(238, 238, 238); */


}

.search {
    margin-top: 15px;
    width: 300px;
    height: 40px;
    display: flex;
    position: relative;
}

.search input:hover {
    border: 1px solid rgb(232, 24, 84);
}

.login {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    /* position: relative;  */
}

.login i {
    font-size: 30px;
    color: rgb(94, 89, 89);

}

.login i:hover {
    color: rgb(232, 24, 84);
}

.sub-login {
    /* position: absolute; */

    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100px;
    visibility: hidden;
}

.sub-login li {
    border: 1px solid rgb(212, 208, 208);
    border-radius: 10px;
    text-align: center;
}

.sub-login li a {
    color: black;

    font-size: 14px;

}

.login:hover .sub-login {
    visibility: visible;
}

.sub-login a:hover {
    color: crimson;

}

.menu {
    width: 1476px;
    height: 52px;
    background-color: rgb(249, 249, 249);
    /* margin-top: -25px; */
    display: flex;
}

.menu-left ul {
    margin: 0px;
    margin-left: 110px;

}

.menu-left>ul>li {
    list-style: none;
    display: inline;
    padding: 15px;
    padding-bottom: 18px;
}

.menu-left>ul>li>a {
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 52px;
}

.menu-left>ul>li:hover {
    background-color: rgb(240, 235, 235);
}

.menu-left>ul>li>a:hover {
    color: rgb(232, 24, 84);
}

.sub-menu {
    width: 1140px;
    height: 260px;
    position: absolute;
    background-color: white;
    display: flex;
    visibility: hidden;
    z-index: 2;
}

.sub-menu a:hover {
    color: rgb(232, 24, 84);
}

.sub-menu-left {
    width: 260px;
    height: 260px;

}

.sub-menu-left {
    width: 260px;
    height: 260px;
}

.sub-menu-left a,
.sub-menu-right a {
    float: left;
    color: rgb(52, 48, 48);
    font-size: 15px;
    display: contents;
}

.sub-menu-left li,
.sub-menu-right li {
    list-style: none;
    margin: 0px 10px 0px 5px;
    line-height: 24px;
  
}


.menu-product {
    position: relative;
}

.menu-product:hover .sub-menu {
    visibility: visible;
}

.menu-right {
    margin-left: 350px;
    border-left: 1px solid rgb(217, 214, 214);
    /* background-color: antiquewhite; */
    height: 52px;
}

.menu-right>ul>li {
    list-style: none;
    display: inline;
    /* background-color: aqua; */
    /* margin-right: 15px; */
    height: 100%;
}

.menu-right a {
    font-size: 12px;
    font-weight: bold;
    color: black;
}
/* end-menu */




/* footer */
footer{

    width: 1476px;
    height: 301px;
    background-color: rgb(34, 34, 34);
    margin-top: 40px;
}
footer h4{
    color:rgb(232, 24, 84) ;
    font-weight: 500;
}
footer,a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
  footer a:hover{
    color:rgb(232, 24, 84) ;
  }
footer ul li{
    list-style: none;
    line-height: 30px;
   
    
}

.contact-footer{
    padding-top: 30px;
    width: 1170px;
    height: 204px;
    display: flex;
    margin: auto;
}
.contact-footer-left ul{
   
   padding: 0px; 
}
.contact-footer-left li{
    margin-right: 30px;
}
.contact-footer-left{
    width: 360px;
    margin-left:153px;
    margin-left: 0px;
    margin-top: -10px;
}
.contact-footer-right{
    width: 780px;

}
.contact-footer-right ul{
    padding: 0px;
}

.sub-product-contact{
    float: left;
width: 165px;
margin-right: 10px;
margin-top: -5px;
}
.sub-product-contact{
    line-height: 0px;
}
.contact-footer-bottom{
    
    width: 1170px;
    height: 32px;
    display: flex;
    margin: auto;
}

.contact-footer-bottom-right{
    width: 50%;
    float: right;
    margin-left: 150px;
}
.contact-footer-bottom-right ul{
    float: right;
}
.contact-footer-bottom-right li{
    display: inline;
    margin: 3px;
}
.contact-footer-bottom-right i{
    font-size: 20px;
}
/* end-footer */
/* slide */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* slide */

.sub-link-product {
    width: 1140px;
    margin: auto;
    line-height: 40px;
    font-size: 12px;
    color: black;

}

.cart-body{
    width: 1170px;
    margin: auto;

}
.title{
    width: 1170px;
    height: 57px;
    line-height: 57px;
    margin: auto;
}
.title h3{
    margin-left: 20px;
}
.cart-product{
    width: 1170px;
    display: flex;
}
.cart-product-left{
    width: 847px;
    height: 355px;
    margin:20px ;
   

}
.cart-product-right{
    width: 262px;
    height: 355px;
    margin: 20px;
}
.product-left{
    width: 100%;
    height: 177px;
    display: flex;
    border-bottom: 1px solid rgb(220, 215, 215);
}
.product-left:last-child{
    border-bottom:none;
}
.image-prd{
    width: 196px;
    height: 147px;
    margin: 15px;
}
.image-prd img{
    width: 100%;
}

.sub-product{
    width: 635px;
    height: 67px;
    display: flex;
}
.sub-product ul{
    width: 350px;
    height: 67px;
}
.sub-product li{
    list-style: none;
    margin-top: 5px;
    font-size: 13px;
 
}
.box-price{
   font-weight: bold;
   font-size: 17px;
   margin-right: 40px;
}

.sub-quantity{
    display: flex;
}
.sub-quantity button{
    width: 32px;height: 28px; background-color: white;border: 1px solid rgb(133, 129, 129);
}
.sub-quantity input{
    margin-left: -5px;
    margin-right: -5px;
}
@media all and (max-width:1200px){
   .menu-left,.menu-right{
    display: none;
   }
}
.sub-price{
    width: 272px;
    height: 61px;
    display: flex;
    line-height: 61px;
    border-bottom: 1px solid rgb(133, 129, 129);
}
.sub-price h{
    font-size: 14px;
 font-weight: bold;
 margin-right: 140px;
}
.sub-price div{
      font-size: 16px;
 font-weight: bold;

}
.price{
    width: 272px;
    height: 61px;
    display: flex;
    line-height: 61px;
}
.pay{
    width: 262px;
    height: 40px;
    background-color: rgb(232, 24, 84);
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: white;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;

}
.shop-continute{
    width: 262px;
    height: 40px;
    border: 1px solid rgb(232, 24, 84);
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    color: rgb(232, 24, 84);
    margin-top: 20px;
border-radius: 5px;
}

.sub-quantity button,.pay,.shop-continute{
    cursor: pointer;
}
