@{
    Layout = "~/Areas/Admin/views/shared/layout.cshtml";
}
@using QlBanOpDaDienThoai.Models;
@model QlBanOpDaDienThoai.Models.Adv;
@functions {
    Net20ProjectContext db = new Net20ProjectContext();
    public List<Adv> getAdv()
    {
        List<Adv> list = db.Advs.OrderByDescending(item => item.Id).ToList();
        return list;
    }
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header pb-0">
                <h5>Basic form control</h5>
            </div>
            <form method="post" enctype="multipart/form-data" action="@ViewBag.action" class="form theme-form">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="col-sm-2 col-form-label">Adv Name</label>

                            <input class="form-control" name="name" id="exampleFormControlInput1" type="text" value="@if(Model!=null){
                            <text>@Model.Name</text>
                            }"  >
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-10">
                        <label class="col-sm-2 col-form-label">Position</label>

                        <select name="position" class="form-select" aria-label="Default select example">
                            <option @if (Model != null && Model.Position == 1){ <text>selected</text>} value="1"> Trái (Dưới slide show)</option>
                            <option @if (Model != null && Model.Position == 2){ <text>selected</text>} value="2"> Phải (Dưới slide show)</option>
                            <option @if (Model != null && Model.Position == 3){ <text>selected</text>} value="3"> Trang sản phẩm - Banner</option>
                            <option @if (Model != null && Model.Position == 4){ <text>selected</text>} value="4"> Trang sản phẩm - Dưới TAG</option>
                            <option @if (Model != null && Model.Position == 5){ <text>selected</text>} value="5"> Trang sản phẩm - Dưới Popular products</option>
                          



                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="col-form-label pt-0" for="exampleInputEmail1">Photo</label>
                    <input class="form-control" name="photo" type="file">
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-light"><a href="/admin/Tags/Index">Cancle</a></button>

                </div>
            </form>
        </div>

    </div>
</div>